html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

:global {
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .rightDistance {
    margin-right: 24px;
  }

  .rightComponentDistance {
    margin-right: 5px;
  }
}
